* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v93_1275 {
    width: 393px;
    height: 1345px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v93_1276 {
    width: 179px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 132px;
    left: 107px;
    font-family: Myriad Pro;
    font-weight: Black;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v93_1277 {
    width: 393px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v93_1278 {
    width: 24px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 354px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v93_1282 {
    width: 18px;
    height: 7px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v93_1292 {
    width: 30px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 33px;
    font-family: SF Pro Text;
    font-weight: Semibold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }
  .v93_1293 {
    width: 393px;
    height: 143px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v93_1294 {
    width: 393px;
    height: 72px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v93_1295 {
    width: 393px;
    height: 72px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
  }
  .v93_1296 {
    width: 199px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 99px;
    overflow: hidden;
  }
  .v93_1297 {
    width: 41px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v93_1298 {
    width: 149px;
    color: rgba(228,1,21,1);
    position: absolute;
    top: 1px;
    left: 50px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 34px;
    opacity: 1;
    text-align: left;
  }
  .v93_1299 {
    width: 393px;
    height: 72px;
    background: rgba(250,250,250,1);
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
  }
  .v93_1300 {
    width: 23px;
    height: 25px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 139px;
    left: 351px;
  }
  .v93_1301 {
    width: 25px;
    height: 17px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 142px;
    left: 25px;
  }
  .v93_1302 {
    width: 191px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 136px;
    left: 111px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }
  .v93_1303 {
    width: 19px;
    height: 19px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 167px;
    overflow: hidden;
  }
  .v93_1304 {
    width: 16px;
    height: 16px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
  }
  .v93_1305 {
    width: 149px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 345px;
    left: 29px;
    overflow: hidden;
  }
  .v93_1306 {
    width: 149px;
    height: 85px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 0px;
  }
  .v93_1307 {
    width: 149px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(232,69,73,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v93_1308 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 111px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v93_1309 {
    width: 49px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 98px;
    overflow: hidden;
  }
  .v93_1310 {
    width: 38px;
    color: rgba(30,212,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v93_1311 {
    width: 8px;
    height: 8px;
    background: rgba(30,212,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 41px;
    border-radius: 50%;
  }
  .v93_1312 {
    width: 149px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 538px;
    left: 29px;
    overflow: hidden;
  }
  .v93_1313 {
    width: 149px;
    height: 85px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 0px;
  }
  .v93_1314 {
    width: 149px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(232,69,73,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v93_1315 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 111px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v93_1316 {
    width: 49px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 98px;
    overflow: hidden;
  }
  .v93_1317 {
    width: 38px;
    color: rgba(30,212,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v93_1318 {
    width: 8px;
    height: 8px;
    background: rgba(30,212,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 41px;
    border-radius: 50%;
  }
  .v93_1319 {
    width: 149px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 731px;
    left: 29px;
    overflow: hidden;
  }
  .v93_1320 {
    width: 149px;
    height: 85px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 0px;
  }
  .v93_1321 {
    width: 149px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(232,69,73,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v93_1322 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 111px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v93_1323 {
    width: 49px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 98px;
    overflow: hidden;
  }
  .v93_1324 {
    width: 38px;
    color: rgba(30,212,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v93_1325 {
    width: 8px;
    height: 8px;
    background: rgba(30,212,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 41px;
    border-radius: 50%;
  }
  .v93_1326 {
    width: 149px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 345px;
    left: 220px;
    overflow: hidden;
  }
  .v93_1327 {
    width: 149px;
    height: 85px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 0px;
  }
  .v93_1328 {
    width: 149px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(232,69,73,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v93_1329 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 111px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v93_1330 {
    width: 49px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 98px;
    overflow: hidden;
  }
  .v93_1331 {
    width: 38px;
    color: rgba(30,212,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v93_1332 {
    width: 8px;
    height: 8px;
    background: rgba(30,212,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 41px;
    border-radius: 50%;
  }
  .v93_1333 {
    width: 149px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 538px;
    left: 220px;
    overflow: hidden;
  }
  .v93_1334 {
    width: 149px;
    height: 85px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 0px;
  }
  .v93_1335 {
    width: 149px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(232,69,73,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v93_1336 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 111px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v93_1337 {
    width: 49px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 98px;
    overflow: hidden;
  }
  .v93_1338 {
    width: 38px;
    color: rgba(30,212,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v93_1339 {
    width: 8px;
    height: 8px;
    background: rgba(30,212,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 41px;
    border-radius: 50%;
  }
  .v93_1340 {
    width: 149px;
    height: 168px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 731px;
    left: 220px;
    overflow: hidden;
  }
  .v93_1341 {
    width: 149px;
    height: 85px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 0px;
  }
  .v93_1342 {
    width: 149px;
    height: 111px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(232,69,73,0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v93_1343 {
    width: 149px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 111px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v93_1344 {
    width: 49px;
    height: 12px;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 98px;
    overflow: hidden;
  }
  .v93_1345 {
    width: 38px;
    color: rgba(30,212,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
  }
  .v93_1346 {
    width: 8px;
    height: 8px;
    background: rgba(30,212,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 41px;
    border-radius: 50%;
  }
  .name {
    color: #fff;
  }
  .v93_1348 {
    width: 151px;
    color: rgba(228,1,21,1);
    position: absolute;
    top: 294px;
    left: 29px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v93_1350 {
    width: 357px;
    height: 158px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 999px;
    left: 20px;
    overflow: hidden;
  }
  .v93_1351 {
    width: 355px;
    color: rgba(228,1,21,1);
    position: absolute;
    top: 0px;
    left: 2px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 21px;
    opacity: 1;
    text-align: left;
  }
  .v93_1352 {
    width: 105px;
    height: 91px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
  }
  .v93_1353 {
    width: 36px;
    height: 63px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 35px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v93_1355 {
    width: 34px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 2px;
    overflow: hidden;
  }
  .v93_1356 {
    width: 35px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v93_1357 {
    width: 105px;
    height: 91px;
    background: rgba(228,1,21,1);
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 250px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
  }
  .v93_1358 {
    width: 75px;
    height: 63px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 15px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v93_1360 {
    width: 75px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 0px;
    overflow: hidden;
  }
  .v93_1361 {
    width: 75px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v93_1362 {
    width: 105px;
    height: 91px;
    background: rgba(187,189,190,1);
    opacity: 1;
    position: absolute;
    top: 33px;
    left: 125px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
  }
  .v93_1363 {
    width: 47px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 29px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v93_1365 {
    width: 46px;
    height: 28px;
    background: url("../images/v93_1365.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 1px;
    overflow: hidden;
  }
  .v93_1366 {
    width: 47px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Myriad Pro;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v93_1367 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 945px;
    left: 299px;
    overflow: hidden;
  }
  .v93_1368 {
    width: 16px;
    height: 20px;
    background: url("../images/v93_1368.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 4px;
    overflow: hidden;
  }
  .v93_1369 {
    width: 16px;
    height: 18px;
    background: url("../images/v93_1369.png");
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border: 2px solid rgba(0,0,0,1);
  }
  .v93_1370 {
    width: 2px;
    height: 2px;
    background: url("../images/v93_1370.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 7px;
    border: 2px solid rgba(0,0,0,1);
  }
  .name {
    color: #fff;
  }
  